/**
 * @Author: Your name
 * @Date:   2024-09-09 00:06:49
 * @Last Modified by:   Your name
 * @Last Modified time: 2024-09-12 19:36:47
 */

 /*Three main colors to use for styling: Blue, green, and orange. */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
}

header {
  display: flex;
  justify-content:space-between;
  color: white;
  padding: 0px 10px 0px;
}

.nav-bar {
  margin-top: 30px;
  padding: 0px 10px 0px;
}

#home {
  
}

/*.btn {
  background-color: white;
  color: #4CAF50;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}*/

section {
  padding: 20px;
}
